/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	margin: 0;
}

.site {
    max-width: 2200px;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
    grid-template-areas:
        "header header header"
        ". main ."
        ". sidebar ."
        "footer footer footer";
}

header.site-header#masthead {
    grid-area: header;
}

main.site-main#primary {
	grid-area: main;
}

.site-footer {
    grid-area: footer;
}

aside.widget-area#secondary {
    grid-area: sidebar;
}
